
body,
html {
	min-height: 2000px;
    width: 100%;
    height: 100%;
}

.navbar-static-top {
  margin-bottom: 19px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}


.navbar-static-top {
  margin-bottom: 19px;
}

.intro-header {
    /*padding-top: 50px;  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    /*padding-bottom: 50px;*/
    
    /*color: #f8f8f8;*/
    /*background: url(img/intro-bg.jpg) no-repeat center center;*/
    /*background-size: cover;*/
}

.intro-message {
	font-size: 16px;
}

.graph{
	text-align: left;
}