<!doctype html>
<html lang="en">
	<head>
		<title>Create a plot of SF housing costs and crime</title>
		<link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>
  </head>
  <body>
  <h2>Housing Cost and Crime for SF Districts</h2>
    <form action="/signup" method="post">
    Select District- 
      <select name="neghiborhood">
        <option value="volvo">Central</option>
        <option value="saab">Tenderloin</option>
        <option value="fiat">FIDI</option>
        <option value="audi">SOMA</option>
      </select>
      <br>
    Housing Cost Data - 
      <input type="checkbox" name="dhd" value="dhdv"> Display Housing Data</input>
    <br>
    Crime Data -
      <input type="checkbox" name="vehicle1" value="bike"> Assault
      <input type="checkbox" name="vehicle2" value="Car"> Drug/Narcotic 
      <br><br>
      <input type="submit" value="Go!"></input>
    </form>
  </body>
</html>
