{% extends "base.html" %}
{% block title %} - By Crime{% endblock %}
{% block content %}
<!-- Header -->
    <a name="for"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Comparing Districts for Particular Crimes</h1>
                        <h3>Select crime and districts to be plotted.</h3>
                        <hr class="intro-divider">
                      <form action="{{ action_url }}" method="post" name="bcrime">
                            {{ form.hidden_tag() }}
                             Crime:
                            {{ form.crime_o }}           
                             District:
                            {{ form.district_m }}
                            Crime Normalization: 
                            {{ form.norm_dist }}
                            Data Point Frequency: 
                            {{ form.freq }}
                            <input type="submit" value="Plot">
                      </form>
                    </div>
                </div>
            </div>
            </div>
        <!-- /.container -->
  {{ div | safe }}

{% endblock %}