{% extends "base.html" %}
{% block title %} - By District{% endblock %}
{% block content %}
<!-- Header -->
    <a name="for"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Prevealence of Crime in a District</h1>
                        <h3>Select crime and districts to be plotted.</h3>
                        <hr class="intro-divider">
                      <form action="{{ action_url }}" method="post" name="bdist">
                                {{ form.hidden_tag() }}
                                Crime:
                                {{ form.crime_m }}           
                                District:
                                {{ form.district_o }}
                                Crime Normalization:
                                {{ form.norm_crime_house }}
                                Data Point Frequency:
                                {{ form.freq }}
                                <input type="submit" value="Plot">
                        </form>
                      
                    </div>
                </div>
            </div>
            </div>
            <div class="graph">
            {{ div | safe }}
            </div>
        <!-- /.container -->
{% endblock %}