<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Jeffrey Hawkins Data Incubabot Capstone Project</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!link href="bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>
    {{ script | safe }}
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">San Fransisco Housing Cost and Crime Analysis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          
        <h2>Housing Cost and Crime for SF Districts</h2>
        <p>The form bellow will let you generate a plot of housing price, along with selected crime data, for different SF neghiborhoods.</p>
            <form action="/signup" method="post">
                Select District- 
              <select name="neghiborhood">
                  <option value="BAYVIEW">Bayview</option>
                  <option value="CENTRAL">Central</option>
                  <option value="MISSION">Mission</option>
                  <option value="NORTHERN">Northern</option>
                  <option value="SOUTHERN">Southern</option>
                  <option value="TENDERLOIN">Tenderloin</option>
              </select>
              <br>
                Housing Cost Data - 
                  <input type="checkbox" name="dhd" value="dhdv"> Display Housing Data</input>
              <br>
                Crime Data -
                  <br><input type="checkbox" name="crime0" value="KIDNAPPING"> KIDNAPPING
                  <br><input type="checkbox" name="crime1" value="WEAPON LAWS"> WEAPON LAWS
                  <br><input type="checkbox" name="crime2" value="SECONDARY CODES"> SECONDARY CODES
                  <br><input type="checkbox" name="crime3" value="WARRANTS"> WARRANTS
                  <br><input type="checkbox" name="crime4" value="PROSTITUTION"> PROSTITUTION
                  <br><input type="checkbox" name="crime5" value="EMBEZZLEMENT"> EMBEZZLEMENT
                  <br><input type="checkbox" name="crime6" value="SEX OFFENSES, NON FORCIBLE"> SEX OFFENSES, NON FORCIBLE
                  <br><input type="checkbox" name="crime7" value="LOITERING"> LOITERING
                  <br><input type="checkbox" name="crime8" value="SUICIDE"> SUICIDE
                  <br><input type="checkbox" name="crime9" value="DRIVING UNDER THE INFLUENCE"> DRIVING UNDER THE INFLUENCE
                  <br><input type="checkbox" name="crime10" value="ROBBERY"> ROBBERY
                  <br><input type="checkbox" name="crime11" value="BURGLARY"> BURGLARY
                  <br><input type="checkbox" name="crime12" value="SUSPICIOUS OCC"> SUSPICIOUS OCC
                  <br><input type="checkbox" name="crime13" value="FAMILY OFFENSES"> FAMILY OFFENSES
                  <br><input type="checkbox" name="crime14" value="ASSAULT"> ASSAULT
                  <br><input type="checkbox" name="crime15" value="FORGERY/COUNTERFEITING"> FORGERY/COUNTERFEITING
                  <br><input type="checkbox" name="crime16" value="BAD CHECKS"> BAD CHECKS
                  <br><input type="checkbox" name="crime17" value="DRUNKENNESS"> DRUNKENNESS
                  <br><input type="checkbox" name="crime18" value="GAMBLING"> GAMBLING
                  <br><input type="checkbox" name="crime19" value="OTHER OFFENSES"> OTHER OFFENSES
                  <br><input type="checkbox" name="crime20" value="RECOVERED VEHICLE"> RECOVERED VEHICLE
                  <br><input type="checkbox" name="crime21" value="FRAUD"> FRAUD
                  <br><input type="checkbox" name="crime22" value="ARSON"> ARSON
                  <br><input type="checkbox" name="crime23" value="SEX OFFENSES, FORCIBLE"> SEX OFFENSES, FORCIBLE
                  <br><input type="checkbox" name="crime24" value="DRUG/NARCOTIC"> DRUG/NARCOTIC
                  <br><input type="checkbox" name="crime25" value="TRESPASS"> TRESPASS
                  <br><input type="checkbox" name="crime26" value="LARCENY/THEFT"> LARCENY/THEFT
                  <br><input type="checkbox" name="crime27" value="VANDALISM"> VANDALISM
                  <br><input type="checkbox" name="crime28" value="NON-CRIMINAL"> NON-CRIMINAL
                  <br><input type="checkbox" name="crime29" value="EXTORTION"> EXTORTION
                  <br><input type="checkbox" name="crime30" value="PORNOGRAPHY/OBSCENE MAT"> PORNOGRAPHY/OBSCENE MAT
                  <br><input type="checkbox" name="crime31" value="LIQUOR LAWS"> LIQUOR LAWS
                  <br><input type="checkbox" name="crime32" value="TREA"> TREA
                  <br><input type="checkbox" name="crime33" value="VEHICLE THEFT"> VEHICLE THEFT
                  <br><input type="checkbox" name="crime34" value="STOLEN PROPERTY"> STOLEN PROPERTY
                  <br><input type="checkbox" name="crime35" value="BRIBERY"> BRIBERY
                  <br><input type="checkbox" name="crime36" value="MISSING PERSON"> MISSING PERSON
                  <br><input type="checkbox" name="crime37" value="DISORDERLY CONDUCT"> DISORDERLY CONDUCT
                  <br><input type="checkbox" name="crime38" value="RUNAWAY"> RUNAWAY 
              <br><br>
              <input type="submit" value="Go!"></input>
            </form>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!script src="bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
